<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	  <title>{{ page.title }}</title>

		<link rel="stylesheet" href="assets/css/global.css">
		<link rel="stylesheet" href="assets/css/navbar.css">
		<!-- if a page defines additional stylesheets with the custom_css variable, add it to the head -->
		{% for stylesheet in page.custom_css %}
			<link rel="stylesheet" href="assets/css/{{ stylesheet }}.css">
		{% endfor %}

		<!-- if a page defines a custom js scripts with the "js" variable, add it to the head -->
		{% for script in page.js %}
			{% if script.type %}
				<script type="{{ script.type }}" src="assets/js/{{ script.nom }}.js"></script>
			{% else %}
				<script type="text/javascript" src="assets/js/{{ script }}.js"></script>
			{% endif %}
		{% endfor %}

		<!-- if a page defines a third party js script with the "third_party_js" variable, add it to the head -->
		{% for script in page.third_party_js %}
			{% if script == "mathjax" %}
			<!-- adding the braket latex package to mathjax configuration -->
			<script>
				MathJax = {
					loader: {load: ['[tex]/braket']},
				  tex: {
						packages: {'[+]': ['braket']},
    				inlineMath: [['$', '$'], ['\\(', '\\)']]
					}
				};
			</script>
			<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
			<script type="text/javascript" id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
			{% else %}
				<script type="text/javascript" src="assets/js/thirdparty/{{ script }}"></script>
			{% endif %}
		{% endfor %}
	</head>
  <body>
    {% include navbar.html %}
		<div class="content">
    	{{ content }}
		</div>
  </body>
</html>
