/** page layout **/
.content {
  display: grid;
  grid-template-columns: 1fr 18em;
  width: 90%;
}

/* 1. Enable smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* =============================================================
========================= TOC styling ==========================
================================================================ */

/* 3. ScrollSpy active styles (see JS tab for activation) */
.toc li.active > a {
  color: var(--aero-blue);
  font-weight: 700;
}

/* Sidebar Navigation : sticky allows the toc to stick on the screen even if the user scrolls */
.toc {
	position: sticky;
	top: 10%;
	align-self: start;
  padding-left: 0;
	margin-left: 2em;
  border-left: 1px solid var(--dark-light-gray);
}

.toc a {
	font-size: 13pt;
  text-decoration: none;
  display: block;
  padding: .125rem 0;
  color: #ccc;
  transition: all 50ms ease-in-out; /* This small transition makes setting of the active state smooth */
}

.toc a:hover,
.toc a:focus {
  color: #666;
}

.toc ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

.toc li {
  margin-left: 1rem;
}

.toc ul > li {
	border-bottom: 1px dashed var(--light-gray);
}

.toc ul > li > ul > li{
	border-bottom: none;
}

/* =============================================================
=================== Article content styling ====================
================================================================ */

.article {
	padding-left: 10em;
}
@media (max-width: 1142px) {
  .article {
  	padding-left: 5em;
  }
}
@media (max-width: 1050px) {
  .article {
  	padding-left: 0em;
  }
}

/* scroll-margin-top will scroll the bar a certain amount above the tag
when clicking on an anchor. It allow the h1 and h2 tag to not be hidden
by the navbar when clicking on a link in the toc */
.article h1, h2 {
	scroll-margin-top: 2.5em;
	max-width: 25em;
	text-align: left;
}

.article h1 {
	color: var(--french-blue);
}

.article h3 {
  text-decoration: underline;
}

.article p {
	text-align: justify;
}

.article h1.title {
	font-size: 40pt;
	color: var(--dark-blue);
	border-bottom: none;
	margin: 1em 0 3em 2em;
	max-width: 20em;
}

.article h2 {
  color: var(--dark-red);
}

.article ul {
  text-align: justify;
	line-height: 2em;
  font-size: 14pt;
  margin: 1em 0 1em 0;
}
.article li {
  margin-top: 1em;
}
.article li strong:first-child {
  border-bottom: 1px solid black;
}

.article img {
  max-width: 90%;
  height: auto;
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
}

.equation p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 16pt;
  color: var(--equation-blue);
}

.biggerequation p {
  margin-right: auto;
  margin-left: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
  font-size: 19pt;
  color: var(--equation-blue);
}

.figure p {
  margin: auto;
  max-width: 75%;
  text-align: center;
  font-size: 12pt;
  font-family: sans-serif;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  font-size: 16pt;
  margin: auto;
}

table td, .function_table th {
  border: 1px solid var(--dark-light-gray);
  padding: 8px;
}

table th {
  text-align: center;
  background-color: var(--aero-blue);
  color: white;
}

table th, td {
  border: 1px solid var(--dark-light-gray);
}

.grid14 {
  margin: auto;
  max-width: 100%;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
@media (max-width: 1062px) {
	.grid14 {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
	}
}

.grid22 {
  margin: auto;
  max-width: 100%;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.grid12 {
  margin: auto;
  max-width: 100%;
  display: grid;
  column-gap: 1em;
  grid-template-columns: 1fr 1fr;
}

.warning {
  margin-left: 3em;
  background-color: #f5f5dc;
  border-radius: 20px;
  border: 5px solid #E0E094;
  display: grid;
  grid-template-columns: 230px 1fr;
}

.warning img {
  margin: 1em 0 1em 1em;
  width: 125px;
}

.warning p {
  margin-right: 1em;
}

.article ul > li > ul > li {
	margin-left: 2em;
	margin-top: 0.3em;
}

svg, :root {
/*  Fonts  */
--Q-font-family-mono:    'Roboto Mono', 'Source Code Pro', 'Menlo', 'Courier New', monospace;
}

pre {

	margin: 0.5rem 0;
	max-width: 100%;
	border-radius: 0.5rem;
	background-color: hsl(

		var( --Q-color-background-hue ),
		var( --Q-color-background-saturation ),
		98%
	);
	padding: 0  0 1.5rem 1rem;
	white-space: pre;
	word-wrap: normal;/*  iOS, you make me sad.  */
	tab-size: 4;
	-moz-tab-size: 4;
	overflow: auto;
	overflow-wrap: normal;
}

pre, code, samp {

	font-family: var( --Q-font-family-mono );
	line-height: 1.2rem;
	color: hsl(

		var( --Q-color-green-hue ),
		80%,
		25%
	);
}

pre code, pre samp {

	margin:  0;
	padding: 0;
	white-space: pre;
	word-wrap: normal;/*  iOS, you make me sad.  */
	overflow: auto;
	overflow-wrap: normal;

}
