/* This stylesheet is included in each page of the website */

:root {
	/* Defining colors */
		--white: #FFF;
		--blue-link: rgb(28, 121, 184);
		--dark-light-gray: #ccc;
    --light-gray: #e6e6e6;
		--lighter-gray: #f1f1f1;
		--black-text: rgb(13, 26, 38);
		--french-blue: #002D62;
		--aero-blue: #7CB9E8;
		--dark-blue: #002244;
		--equation-blue: #000033;
		--green: #4CAF50;
		--dark-red: #CC0000;
	/* Defining length */
		--navbar-height: 60px;
		--responsive-navbar-width: 225px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--white);
  font-family: Lato, Helvetica, Arial, sans-serif;
}

a {
  font-family: inherit;
  font-size: inherit;
}

.content {
	margin: 70px 3% 0 3%;
}

.center {
	margin: auto;
	text-align: center;
}

h1 {
	margin-bottom: 2%;
	text-align: center;
	border-bottom: 2px solid var(--light-gray);
	padding-bottom: 5px;
}

p {
  text-align: center;
	line-height: 2em;
  font-size: 14pt;
  margin: 1em 0 1em 0;
}

img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}
