.content {
  margin: 0 0 0 0
}

.wrapper {
	max-width: 1000px;
	width: calc(100% - 80px);
	margin: 0 auto;
	position: relative;
  left: -5px;
  top: 5%;
  font-family: Arial, Helvetica, sans-serif;

}

.wrapper2 {
	max-width: 1000px;
	width: calc(100% - 80px);
	margin: 0 auto;
	position: relative;
  left: -5px;
  top: 10%;
  bottom: -20%;
  font-family: Arial, Helvetica, sans-serif;

}
.block {
	width: calc(50% - 80px);
	float: left;
	padding: 20px;
	clear: both;
	text-align: right;
}

.year {
  font-size: 16px;
  font-weight: bold;
	margin-bottom: 12px;
	position: relative;
  color: black;

}
.year:before {
	content: "";
	position: absolute;
	width: 8px;
	height: 8px;
	border: 4px solid black;
	background-color: #1d1e22;
	border-radius: 100%;
	top: 50%;
	transform: translateY(-50%);
	right: -73px;

}

.joke {
	color: black;
}
p {
  text-align:justify;
}
.block:nth-child(2n) {
	text-align: justify;
	float: right;
}
.block:nth-child(2n) .year:before {
	left: -63px;
}
.block:nth-child(2n) .year.big:before {
	transform: translate(-8px, -50%);
}

@media screen and (max-width: 600px) {
	body::before {
		left: 40px;
	}
	.year:before {
		left: -43px;
	}
	.block {
		width: calc(100% - 60px);
		text-align: justify;
		padding-left: 40px;
	}
	.block:nth-child(2n) {
		text-align: justify;
		float: left;
	}
	.block:nth-child(2n) .year:before {
		left: -43px;
	}
	.block:not(:first-child) {
		margin-top: 0;
	}
	.year.big:before {
		left: -59px;
	}
}

.separation {
	clear: both;
  position: absolute;
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
	margin-top :0%;
	height: 3500px;
	width : 5px;
	background: black;
}
