/*================================
						  Navbar
  ================================*/

#navbar {
  background: var(--light-gray);
  position: fixed;
  top: 0;
  height: var(--navbar-height);
  line-height: var(--navbar-height);
  width: 100%;
  z-index: 10;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 76%;
}

#navbar .logo {
  float: left;
  font-size: 1.5em;
  letter-spacing: 1px;
  text-transform: uppercase;
  height: var(--navbar-height);
}

#navbar #logo_utc {
  height: var(--navbar-height);
  width: 120px;
}

#navbar #menu {
  display: inline-block;
  float: right;
  list-style: none;
  margin-top: -2px;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}

#navbar .link {
  display: inline-block;
  height: var(--navbar-height);
}

#navbar .animated_link {
  color: var(--black-text);
  display: block;
  font-size: 0.7em;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 20px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transform: translateX(0);
}

/* ========= Animated Bottom Line  =============*/

#navbar .animated_link:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 1px;
  bottom: -1px;
  background: rgb(13, 26, 38);
  transform: translateX(0);
  transition: width 0.5s, left 0.5s;
  left: 50%;
}

#navbar .link:hover .animated_link:after {
  left: 0;
  width: 100%;
}

/* =========== Drop Down Menu =========== */

.link {
  height: var(--navbar-height);
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  margin: 10px 0 0 10px;
  background-color: var(--lighter-gray);
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 20px;
}

/* Links inside the dropdown */
.dropdown-content a {
 color: black;
 text-decoration: none;
 text-align: center;
 display: block;
 padding: 0 10px 0 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  border-radius: 20px;
}

.link:hover .dropdown-content {
  display: block;
}

#navbar .link:hover .animated_link {
  color: var(--blue-link);
}

/* =========== Responsive ============== */

.icon {
  display:none
}

.icon .fa-bars {
  margin-top: 15px;
  height: 30px;
}

@media screen and (max-width: 1400px) {
  #navbar .link {
    display: block;
    opacity: 1;
  }
  #navbar #menu {
    display: none;
  }
  .nav-wrapper {
    width: 95%;
  }
  .icon {
    float: right;
    display: block;
  }

  #navbar #menu.responsive {
    margin: var(--navbar-height) 0 0 0;
    position: absolute;
    right: 0;
    display: block;
    text-align: right;
    background-color: var(--lighter-gray);
    opacity: 0.92;
    border-radius: 20px;
    width: var(--responsive-navbar-width);
  }

  #navbar #menu.responsive .dropdown-content {
    display: none;
    position: absolute;
    right: var(--responsive-navbar-width);
    margin-top: -40px;
    background-color: var(--lighter-gray);
    border-radius: 20px;
    min-width: 280px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }

  #navbar #menu.responsive .link:hover .dropdown-content {
    display: block;
  }
}

/* à finir */
