<script>
	/* this function is executed when the user clicks on the menu icon
	 * when the screen is to small to display the entire navigation bar
	 */
  function showNav() {
    var x = document.getElementById("menu");
    if (x.className === "") {
      x.className += "responsive";
    } else {
      x.className = "";
    }
  }
</script>

<nav id="navbar">
  <div class="nav-wrapper">
    <!-- Navbar Logo -->
    <div class="logo">
      <img id="logo_utc" src="assets/img/Logo_UTC_2018.svg" class="img"/>
    </div>

    <a href="javascript:void(0);" class="icon" onclick="showNav()">
      <img src="assets/img/fa-bars.png" class="fa-bars"></img>
    </a>

    <!-- Navbar Links -->
    <div id="menu">
      {% for item in site.data.navigation %}
        {% if item.link %}
          <!-- The 'link' class is used by the stylesheet 'navbar.css' to animate
               the navigation bar links when hovering -->
          <li class="link">
            <a class="animated_link" href="{{ item.link }}">{{ item.name }}</a>
          </li>
        {% endif %}
        {% if item.pages %}
          <li class="link">
            <!-- Dropdown menu -->
            <!-- The menu is shown when the focus of the mouse is over the link -->
            <a class="animated_link dropbtn">{{ item.name }}</a>
            <div class="dropdown-content">
              {% for page in item.pages %}
                <a href="{{ page.link }}">{{ page.name }}</a>
              {% endfor %}
            </div>
          </li>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</nav>
