---
layout: default
title: BB84
custom_css: bb84Animation
js:
- outils
- bb84Animation
third_party_js: anime.min.js
---

<div class="actor">
	<table id="alice">
		<tr>
			<td>
				<p>Alice</p>
				<img class="imgactor" src="assets/img/alice.svg" >
			</td>
			<td>
				<div class="horizontal cleaneable" id="k">

				</div>
				<div class="horizontal cleaneable" id="ABases">

				</div>
				<div class="horizontal cleaneable" id="APolarized">

				</div>
			</td>
		</tr>
	</table>
</div>

<div class="actor">
	<table id="eve">
		<tr>
			<td>
				<p>Eve</p>
				<img class="imgactor" src="assets/img/eve.svg">
			</td>
			<td>
				<div class="horizontal cleaneable" id="EPhoton">

				</div>
				<div class="horizontal cleaneable" id="EBases">

				</div>
				<div class="horizontal cleaneable" id="EDecode">

				</div>
			</td>
		</tr>
	</table>
</div>

<div class="actor">
	<table id="bob">
		<tr>
			<td>
				<p>Bob</p>
				<img class="imgactor" src="assets/img/bob.svg">
			</td>
			<td>
				<div class="horizontal cleaneable" id="BPhoton">

				</div>
				<div class="horizontal cleaneable" id="BBases">

				</div>
				<div class="horizontal cleaneable" id="BDecode">

				</div>
			</td>
		</tr>
	</table>
</div>

<label>Nombre de photon polarisé : </label><input type='text' id="nbr" onkeypress='validate(event)' /><br>

<label for="EveHere">Présence d'Eve</label>
<input type="checkbox" id="EveHere" name="EveHere" value="Eve" onchange="EveHere()"><br>

<label for="delay">Délais</label>
<input type="checkbox" id="delay" name="delay" value="delay" checked="true"><br>

<button class="start" onclick="start()">start</button><br>

<label for="aliceBitSequence">Bits d'Alice : </label><div class="cleaneable" name="aliceBitSequence" id="aliceBitSequence"></div>
<label for="bobBitSequence">Bits de Bob : </label><div class="cleaneable" name="bobBitSequence" id="bobBitSequence"></div>
