---
layout: default
title: Algorithme de Deutsch
custom_css: deutsch
third_party_js: mathjax
---

<h1>Algorithme de Deutsch</h1>

<p>Choisissez une fonction :</p>

<div id="buttons_div" class="deutsch">
	<button id="0" class="function_choice_button">FONCTION CLEAR</button>
  <table class="function_table">
    <tr>
      <th>x</th><th>f(x)</th>
    </tr>
    <tr>
      <td>0</td><td>0</td>
    </tr>
    <tr>
      <td>1</td><td>0</td>
    </tr>
  </table>
	<button id="1" class="function_choice_button">FONCTION SET</button>
  <table class="function_table">
    <tr>
      <th>x</th><th>f(x)</th>
    </tr>
    <tr>
      <td>0</td><td>1</td>
    </tr>
    <tr>
      <td>1</td><td>1</td>
    </tr>
  </table>
	<button id="2" class="function_choice_button">FONCTION NOT</button>
  <table class="function_table">
    <tr>
      <th>x</th><th>f(x)</th>
    </tr>
    <tr>
      <td>0</td><td>1</td>
    </tr>
    <tr>
      <td>1</td><td>0</td>
    </tr>
  </table>
	<button id="3" class="function_choice_button">FONCTION IDENTITE</button>
  <table class="function_table">
    <tr>
      <th>x</th><th>f(x)</th>
    </tr>
    <tr>
      <td>0</td><td>0</td>
    </tr>
    <tr>
      <td>1</td><td>1</td>
    </tr>
  </table>
</div>

<br>
<br>

<div class="hidden">
	<img id="circuit" src="assets/img/circuit_deutsch_0.png" alt="Circuit algorithme de Deutsch"/>
	<button id="button_previous_step" class="button_change_step" disabled>&lt&lt Etape précédente</button>
	<button id="button_next_step" class="button_change_step">Etape suivante &gt&gt</button>
	<div id="state">
		<p id="current_state"></p>
		<p id="current_state_hadamard"></p>
		<p id="result"></p>
	</div>
</div>

<script type="module" src="assets/js/deutsch.js"></script>
