---
layout: default
title: Deutsch-Josza
custom_css:
- deutsch
- deutschjosza
third_party_js: mathjax
---

<h1>Algorithme de Deutsch-Josza</h1>

<p>Choisissez une fonction :</p>

<form id="formn">
 <label for="quantity">Entrez une valeur pour le nombre N d'entrées dans la fonction f (entre 2 and 5):</label>
 <input type="number" id="N" name="quantity" min="2" max="5" value="2" required>
</form>

<div id="buttons_div" class="deutschjosza hide">
	<button id="0" class="function_choice_button">FONCTION CONSTANTE 0</button>
	<button id="1" class="function_choice_button">FONCTION CONSTANTE 1</button>
	<button id="2" class="function_choice_button">FONCTION BALANCÉE ALÉATOIRE</button>
</div>

<br>


<table id="balancedFunctionTable" class="function_table">
</table>
<br>
<br>
<div class="hidden">
	<img id="circuit" src="assets/img/circuit_deutsch_josza_0.png" alt="Circuit algorithme de Deutsch-Josza"/>
	<button id="button_previous_step" class="button_change_step" disabled>&lt&lt Etape précédente</button>
	<button id="button_next_step" class="button_change_step">Etape suivante &gt&gt</button>
	<div id="state">
		<p id="current_state"></p>
		<p id="current_state_hadamard"></p>
		<p id="result">Resultat : </p>
	</div>
</div>

<script type="module" src="assets/js/deutschjosza.js"></script>
