---
layout: default
title: Fentes de Young
custom_css: fenteAnimation
js:
- outils
- fenteAnimation
third_party_js: anime.min.js
---

<canvas id="canvas" class="ecran">	Your browser does not support canvas.</canvas>

</br>
<img src="assets/img/Double-slit.svg" width="200" height="200" id="fente">
<img src="assets/img/cannon.svg" width="200px" height="200px" id="cannon">
<br/>
<div class="form">
  <label>Nombre de point à créer : </label>
  <input type='text' id="nbr" onkeypress='validate(event)' value=5000 /><br/>
  <label>Délais entre chaques points (en ms) : </label>
  <input type='text' id="delay" onkeypress='validate(event)' value=20 /><br/>
  <button class="create-dote" onclick="onButtonCreateCicked()">Création</button>
  <button class="stop" onclick="onButtonStopClicked()">Stop</button>
  <button class="clear" onclick="onButtonClearClicked()">Clear</button>
  <br/>
</div>
