---
layout: default
title: Figures historiques
custom_css: histoire
third_party_js: mathjax
---

<h1>Figures historiques</h1>
  <div>
    <hr class="separation" />
  </div>

  <div class="wrapper">
		<div class="block">
			<div class="year">La catastrophe Ultraviolette [1800-1900]</div>
			<div class="joke">
				<p></p>
			</div>
		</div>
		<div class="block">
			<div class="year">Introduction du Quantum d'energie [1900]</div>
			<div class="joke">
				<p>Max Planck est un physicien allemand né en 1858 et mort en 1947.
           C'est en voulant interpréter la courbe du rayonnement du corps
           noir qu'il fait l'hypothèse d'échanges d'énergie par quantum entre
           les parois d'une cavité et le rayonnement en équilibre à l'intérieur.
           Il introduit alors la célèbre constante de Planck : h qui lui vaudra
          un an plus tard en 1901 un prix nobel.</p>
			</div>
		</div>
		<div class="block">
			<div class="year">les photons [1905]</div>
			<div class="joke">
				<p style="text-align:justify">Albert Einstein. Afin d'expliquer l'effet photoélectrique,
          c'est à dire que la lumière arrivant sur certains matériaux
          peut éjecter des électrons de celui-ci, il postule, à partir
          de l'hypothèse quantique de Planck, que la lumière elle-même
          est constituée de particules individuelles quantiques (photons).
          Cela vient s'ajouter à la théorie de Young, datant de 1801,
          selon laquelle la lumière est une onde</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Niels Bohr [1913]</div>
			<div class="joke">
				<p>Introduit le modèle de Bhor</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Louis de Broglie et la mécanique ondulatoire [1920]</div>
			<div class="joke">
				<p>Postule que les électrons en mouvement sont associés avec des ondes,
           dont les longueurs d'onde sont données par la constante de Planck
           \(h\) divisée par la quantité de mouvement</p>
           <p>
            de l'électron :  \(λ = {h \over mv} = {h \over p}\)
            Il étend donc la dualité onde-cosrpuscule aux particules.
          </p>
			</div>
		</div>
		<div class="block">
			<div class="year">Introduction du principe d'intrication [1935]</div>
			<div class="joke">
				<p>Erwin Schrodinger - L'intrication est un principe quantique fondamental.
          Un objet physique, formé de 2 parties qui ont eu une histoire commune,
          peut être placé dans un état ou les 2 parties sont intimmement et irrémédiablement
          liées. On constate alors des corrélations une fois les deux parties séparées : une
          mesure effectuée sur l'une des deux parties donne instantanément le résultat de la
          mesure de l'autre, et ce peu importe la distance qui les sépare..</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Einstein, Podolsky, Rosen [1935]</div>
			<div class="joke">
				<p>Formulation du paradoxe. <a href="https://www.futura-sciences.com/sciences/definitions/physique-paradoxe-epr-4662/">paradoxe EPR</a></p>
			</div>
		</div>
		<div class="block">
			<div class="year">John Bell [1964]</div>
			<div class="joke">
				<p>John Bell démontre, à Genève, que les idées d’Einstein sur l’aspect inachevé de la théorie quantique entrent
           en contradiction avec les prédictions mêmes de cette théorie.John Bell propose une
           <a href="https://www.pourlascience.fr/sd/physique/lintrication-quantique-confirmee-par-une-experience-de-bell-sans-faille-12185.php"> méthode expérimentale</a>
           pour répondre au paradoxe EPR. Cette expérience ne pourra être réalisée de manière
           concluante qu’en 1982, par Alain Aspect et ses collaborateurs à Paris. Elle démontre
           irréfutablement la justesse de la théorie quantique.
        </p>
			</div>
		</div>
  </div>




  <div class="wrapper2">
		<div class="block">
			<div class="year">Richard Feynman [1981]</div>
			<div class="joke">
				<p>physicien quantique, évoque l’idée d’un ordinateur quantique</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Charles Bennet et gilles Brasard [1984]</div>
			<div class="joke">
				<p>Le premier protocole de cryptographie quantique est formalisé,
          il sera à la base de nombreux autres protocoles (E90, E91, E92, SSP99, SARG04...)</p>
			</div>
		</div>
		<div class="block">
			<div class="year">David Deutsch [1985]</div>
			<div class="joke">
				<p>Théorise l'informatique quantique, avec l'ordinateur quantique universel</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Peter Shor [1994]</div>
			<div class="joke">
				<p>L'algorithme de Shor : algorithme de factorisation en facteurs premiers, en temps polynomial</p>
			</div>
		</div>
		<div class="block">
			<div class="year">Lev Grover [1996]</div>
			<div class="joke">
				<p>L'algorithme de shor : algorithme de recherche en complexité \(O(\sqrt{\overline{N}})\)</p>
			</div>
		</div>
