---
layout: default
title: Accueil
custom_css: index
---

<canvas id="canvas"></canvas>

<script>
//Canvas
var canvas = {
  el: {},
  ctx: {},
  build: function() {
    canvas.el = document.getElementById('canvas');
    canvas.ctx = canvas.el.getContext('2d');
    canvas.el.width = window.innerWidth;
    canvas.el.height = window.innerHeight;
  }
};

//Utils
 var utils = {
   random: function(min,max) {
     if(max == null) {
       max = min;
       min = 0;
     }
     var number = Math.random()*(max-min)+min;

     return number.toFixed(6);
   },
   normalize: function(vector) {
     var length = Math.sqrt(  Math.pow(vector.x, 6) + Math.pow(vector.y,6));
     vector.x = vector.x/length;
     vector.y = vector.y/length;

     return vector;
   }
 };

//Particules
function Particule(x,y,velX,velY,weight,dragForce) {
	this.x = x;
	this.y = y;
	this.velX = velX;
	this.velY = velY;
	this.weight = weight || 1;
	this.dragForce = dragForce || 0.98;
};

Particule.prototype.draw = function draw() {
	canvas.ctx.beginPath();
	canvas.ctx.fillStyle = 'white';

	canvas.ctx.arc(this.x,this.y,this.weight,0,Math.PI*2);
	canvas.ctx.fill();
  canvas.ctx.shadowBlur=20;
  canvas.ctx.shadowColor="black";
	canvas.ctx.closePath();
};

Particule.prototype.update = function update(){
  this.velX *= this.dragForce;
  this.velY *= this.dragForce;

  this.x += this.velX;
  this.y += this.velY;
};

//Application
var App = {
  particules: {},
  mouseVector: {},
  init: function() {
    App.particules = [];
    App.mouseVector = {x:window.innerWidth/2,y:window.innerHeight/2};
    App.build();
  },
  build:function() {
    canvas.build();
    for (var i = 0;i<100;i++) {
      particule = new Particule(
        Math.random()*canvas.el.width,
        Math.random()*canvas.el.height,
        utils.random(-4,4),
        utils.random(-4,4),
        Math.random()*5,
        utils.random(0.99,1)
      );
      App.particules.push(particule);
    }
    App.animate();
    console.log('%c --- Particule System by Jordan Machado --- ',
    'background:black;color:white;font-family:helvetica;font-size:12px');
  },
  animate: function() {
    //canvas.ctx.fillStyle = 'rgba(0,0,0,0.4)';
    canvas.ctx.fillRect(0, 0, canvas.el.width, canvas.el.height);
    for (var i=0,ln=App.particules.length;i<ln;i++){
      //App.particules[i].update();
      App.particules[i].draw();
    }
    //requestAnimationFrame(App.animate); //animation is buggy
  }
}

window.addEventListener("resize",onResize,false);
function onResize(e)  {
   canvas.el.width = window.innerWidth;
   canvas.el.height = window.innerHeight;
   App.animate();
}

//START
App.init();
</script>

<div class="intro">
  <h1>Ordinateur Quantique</h1>
  <h2>par Walter Schön, Kyllian Chartrain, Victor Krawiec, Ziyin Zeng</h2>
  <h4>
    Ce site regroupe des articles d'introduction à la physique quantique et à l'informatique quantique.
    Vous trouverez des informations et des explications sur les bases de la physique et des circuits
    quantiques, jusqu'à l'algorithme de Deutsch-Josza.
    <br><em>Prérequis :</em> algèbre linéaire
    <br><em>En cours de développement :</em> algorithme de Grover, algorithme de Shor
  </h4>
  <a href="intro_quantique.html">Commencer</a>
</div>

<!--<div class="scroll-downs">
  <div class="mousey">
    <div class="scroller"></div>
  </div>
</div>-->
