---
layout: default
title: Portes à plusieurs Qubits
custom_css:
- playground
- q
third_party_js:
- Circuit/q.js
---

<h3>Playground</h3>
    <p>
        Pour obtenir 1 dans l'entrée, veuillez ajouter une porte X au début.
    </p>

    <!-- <h4>Construire un circuit par texte</h4>
    <p>
        Vous pouvez copier le texte ci-dessous et le coller dans la zone de texte, puis
    </p>
    <pre><samp id="playground-text"></samp></pre>
 -->
        <textarea class="Q-circuit-text-input" id="playground-input">
H-I-X#0-I---I-H
H-I-I---X#0-I-H
X-H-X#1-X#1-H-X
I-I-I---I---I-I
        </textarea>
        <p class="right">
            <button class="Q-button" id="playground-apply-button" type="button" onclick="updatePlaygroundFromText()">
                Apply
            </button>
            <br><br>
        </p>

    <div class='Q-circuit-palette'></div>
	<div id="playground"></div>

    <h4>Probabilités de résultats</h4>
    <pre><samp id="playground-report"></samp></pre>
    <br><br>


    <script>
        //  Let’s place circuit palettes
        //  inside anything with the class 'Q-circuit-palette'.

        Array
        .from( document.querySelectorAll( '.Q-circuit-palette' ))
        .forEach( function( el ){

            Q.Circuit.Editor.createPalette( el )
        })

        //  Hook up our input text field and “Apply” button.

        function applyButtonActivated(){

        const button = document.getElementById( 'playground-apply-button' )
        if( button && button.getAttribute( 'disabled' ) === null ) updatePlaygroundFromText()
        }

        let playgroundInputText = ''

        function hasTextInputUpdated(){

        const
        input  = document.getElementById( 'playground-input' ).value
        button = document.getElementById( 'playground-apply-button' )

        if( input === playgroundInputText ){

            button.setAttribute( 'disabled', 'disabled' )
        }
        else button.removeAttribute( 'disabled' )
        }

        function createPlayground(){
            var fox = new Q.Circuit( 2, 3 )

            .set$( Q.Gate.HADAMARD, 1, 1 )

            .set$( Q.Gate.PAULI_X, 2, [ 1, 2 ])

            .set$( Q.Gate.PAULI_X, 3, 1 )
            .set$( Q.Gate.PAULI_X, 3, 2 )

        }


        //  When our user edits the plain text input
        //  we want to update our interactive circuit
        //  and exported code accordingly.

        function updatePlaygroundFromText(){

        const text = document.getElementById( 'playground-input' ).value
        if( text !== playgroundInputText ){

            playgroundInputText = text
            document.getElementById( 'playground-apply-button' ).setAttribute( 'disabled', 'disabled' )

            const circuit = Q( text )
            if( circuit instanceof Q.Circuit ){//+++++  This validation appears broken!

                circuit.name = 'playground'
                const domEl = document.getElementById( 'playground' )
                if( domEl ){

                    while( domEl.lastChild ){

                        domEl.removeChild( domEl.lastChild )
                    }
                    circuit.sort$()//  Is this still necessary??
                    circuit.toDom( domEl )
                }
                circuit.evaluate$()
            }
            else {

                updateCircuitParts( Q`I` )
                console.log( 'There is an error in your circuit!!' )
            }
        }
        }


        //  When our user edits the interactive circuit
        //  we want to update

        function updatePlaygroundFromDom( circuit ){

        const inputEl = document.getElementById( circuit.name +'-input' )
        if( inputEl ){

            const text = circuit.toText().substr( 1 )
            inputEl.value = text
            circuit.evaluate$()
            // updateCircuitParts( circuit )
            playgroundInputText = text
        }
        }


        //  Update all the export code and probabilities report.

        function updateCircuitParts( circuit ){

        // const braketEl = document.getElementById( circuit.name +'-braket' )
        // if( braketEl ) braketEl.innerText = '\n'+ circuit.toAmazonBraket( true )

        const latexEl = document.getElementById( circuit.name +'-latex' )
        if( latexEl ) latexEl.innerText = '\n'+ circuit.toLatex( true )

        const diagramEl = document.getElementById( circuit.name +'-diagram' )
        if( diagramEl ) diagramEl.innerText = circuit.toDiagram( true )

        const textEl = document.getElementById( circuit.name +'-text' )
        if( textEl ) textEl.innerText = circuit.toText()

        const reportEl = document.getElementById( circuit.name +'-report' )
        if( reportEl ) reportEl.innerText = circuit.report$()
        }





        window.addEventListener( 'DOMContentLoaded', function(){

        updatePlaygroundFromText()
        setInterval( hasTextInputUpdated, 100 )
        })








        //  EVALUATION.

        window.addEventListener( 'Q.Circuit.evaluate began', function( event ){

        console.log(

            '\n\nBeginning evaluation for “'+ event.detail.circuit.name +'”\n'+
            event.detail.circuit.toDiagram() +'\n\n'
        )
        })
        window.addEventListener( 'Q.Circuit.evaluate progressed', function( event ){

        const
        length       = 20,
        percent      = Math.round( event.detail.progress * 100 ),
        percentText  = ( ''+ percent ).padStart( 3 ) +'%',
        barLength    = Math.round( length * event.detail.progress ),
        barComplete  = ''.padStart( barLength, '█' ),
        barRemaining = ''.padStart( length - barLength, '░' ),
        opsTotal     = event.detail.operationsTotal,
        opsCompleted = ( ''+ event.detail.operationsCompleted ).padStart( Math.log( opsTotal ) * Math.LOG10E + 1 | 0, ' ' )

        console.log(

            barComplete  +
            barRemaining +' '+
            percentText  +'   '+
            opsCompleted +' of '+
            opsTotal
        )


        //  What’s the actual state of the circuit at this moment?
        //  We should come back and do a cool animated version of this data :)

        const state = event.detail.state
        // console.log( 'state width', state.getWidth(), 'state height', state.getHeight() )
        // console.log( 'state', state.toTsv() )
        })
        window.addEventListener( 'Q.Circuit.evaluate completed', function( event ){

        console.log(

            '\nEvaluation completed for “'+ event.detail.circuit.name +'”'+
		    '\nwith these results:\n'+ event.detail.circuit.report$() +'\n\n\n'
        )

        const
        circuit  = event.detail.circuit,
        reportEl = document.getElementById( circuit.name +'-report' )

        //if( reportEl ) reportEl.innerText = circuit.report$()
        updateCircuitParts( circuit )
        })
        window.addEventListener( 'Q gui altered circuit', function( event ){

        updatePlaygroundFromDom( event.detail.circuit )
        })


    </script>
