---
layout: default
title: Sphère de Bloch
third_party_js:
- mathjax
- grok-bloch/thirdparty/math.min.js
- grok-bloch/thirdparty/babylon.js
- grok-bloch/thirdparty/babylon.gui.min.js
- grok-bloch/blochsphere.js
- grok-bloch/quantumphasedisk.js
- grok-bloch/gate.js
- grok-bloch/scene.js
---

<style>
	.content {
		margin-left: 1em;
		margin-right: 1em;
		width: 99%;
		display: block;
	}
	#renderCanvas {
		width: 98%;
		touch-action: none;
		/* centering vertically */
		margin:auto;
		/* to prevent outline appearing when clicking on the canvas */
		outline: none;
		display: block;
	}
	#stateAndForm {
		display: inline-block;
		position: absolute;
		bottom: 1em;
		margin: auto;
		width: 97%;
	}
	#stateAndForm .stateGroup {
		font-size: 18pt;
		float: right;
	}
	#stateAndForm .state {
		margin-top: 0.5em;
	}
	#stateAndForm form {
		float: left;
		font-size: 14pt;
	}
	#stateAndForm .smallinput {
		max-width: 70px;
	}
	#formAngleState {
		display: none;
	}
	#gateMemo {
		text-align: center;
	}
	#gateMemo p {
		font-size: 18pt;
	}
	.state {
		text-align: center;
	}
</style>

<div id="addedContent">
	<canvas id="renderCanvas"></canvas>
	<div id="stateAndForm">
		<div class="stateGroup">
			<div id="state" class="state"></div>
			<div id="stateAngle" class="state"></div>
		</div>
		<!-- return false to prevent the form from reloading the page-->
		<form onsubmit="return false;">
				<label for="complex1">
					Entrer un état :
					<button id="buttonSubmit" onclick="onStateSubmitted()">Envoyer</button>
					<input type="reset"></input>
					<br>
				</label>
			<span id="formNormalState">
				$\ket{\psi} = ($
				<input class="smallinput" type="text" id="complex1" name="complex1" value="1">
				$)\ket{0} + ($
				<input class="smallinput" type="text" id="complex2" name="complex2" value="0">
				$)\ket{1}$
			</span>
			<span id="formAngleState">
				$\theta = $
				<input class="smallinput" type="number" step="0.01" max="359.99" min="-359.99" id="theta" name="theta" value="0">
				$° \quad \phi = $
				<input class="smallinput" type="number" step="0.01" max="359.99" min="-359.99" id="phi" name="phi" value="0">
				$°$
			</span>
			<br>
			<input type="checkbox" id="checkbox" name="checkbox" onclick="changeFormState()">
			<label for="checkbox">
				<em>Rentrer par coordonnées sur la sphère $\theta$ et $\phi$</em>
			</label>
		</form>
	</div>
	<div id="gateMemo">
		<h1>Portes quantiques - Memo</h1>
			<h2>Pauli gates</h2>
			<p>$X =
			\begin{pmatrix}
			0 & 1 \\
			1 & 0 \\
			\end{pmatrix}, $
			$Y =
			\begin{pmatrix}
			0 & -i \\
			i & 0 \\
			\end{pmatrix}, $
			$Z =
			\begin{pmatrix}
			1 & 0 \\
			0 & -1 \\
			\end{pmatrix} $</p>
			<h2>Hadamard gate</h2>
			<p> $ H = \frac{1}{\sqrt{2}}
			\begin{pmatrix}
			1 & 1 \\
			1 & -1 \\
			\end{pmatrix} $ </p>
			<h2>Phase shift gates</h2>
			<p>$ S =
			\begin{pmatrix}
			1 & 0 \\
			0 & i \\
			\end{pmatrix}, $
			$ T =
			\begin{pmatrix}
			1 & 0 \\
			0 & e^{i\frac{\pi}{4}} \\
			\end{pmatrix} $</p>
			<h2>Rotation gates</h2>
			<p>$ R_x(\theta) =
			\begin{pmatrix}
			cos(\frac{\theta}{2}) & -isin(\frac{\theta}{2}) \\
			-isin(\frac{\theta}{2}) & cos(\frac{\theta}{2})
			\end{pmatrix}, $
			$ R_y(\theta) =
			\begin{pmatrix}
			cos(\frac{\theta}{2}) & -sin(\frac{\theta}{2}) \\
			sin(\frac{\theta}{2}) & cos(\frac{\theta}{2})
			\end{pmatrix}, $
			$ R_z(\theta) =
			\begin{pmatrix}
			e^{-i\frac{\theta}{2}} & 0 \\
			0 & e^{i\frac{\theta}{2}}
			\end{pmatrix} $
	</div>
</div>

<script src="assets/js/thirdparty/grok-bloch/main.js"></script>
